html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background-color: #55e7ca;
  background-image: radial-gradient(circle farthest-side at center top, #55e7ca 0%, #1abc9c 100%);
}

.login {
  max-width: 360px;
  padding: 40px;
  margin: 80px auto;
  color: #404040;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  text-align: center;
}

#login-form input {
  display: block;
  padding: 0 8px;
  width: 100%;
  margin-bottom: 10px;
  height: 44px;
  font-size: 16px;
}

#flash {
  margin: auto;
  margin-top: 40px;
  max-width: 738px;
}
